* {
  scroll-behavior: smooth;
}

:root {
  --primaryColor: #DDD5D0;
  --sectionBG: #1b1b1b;
  --secondaryColor: #449DD1;
  --tertiaryColor: #9E5CC1;
  --textColor: #ffffff;
  --black: #090B0C;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb{
  background-color: var(--primaryColor);
  width: 50px;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--secondaryColor);
}

@supports (scrollbar-color: var(--primaryColor)) {
  * {
    scrollbar-color: var(--primaryColor);
    scrollbar-width: auto;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  background-color: var(--sectionBG);
  font-weight: 600;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--textColor);
  height: 100%;
  letter-spacing: .5px;
  overflow: overlay;
}

.loading {
  background-image: linear-gradient(45deg, var(--secondaryColor), var(--tertiaryColor));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: var(--primaryColor);
  transform-origin: 0%;
  z-index: 10;
}

.dot-nav {
  position: fixed;
  right: 20px;
  z-index: 1;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  transition: visibility 0s,opacity .5s ease;
}

.dot-nav .dot-container {
  position: relative;
  list-style: none;
  text-align: right;
  height: 40px;
  margin: 0 5px
}

.dot-nav a {
  display: inline-block;
}

.dot-nav .dot {
  position: relative;
  top: 22px;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background: rgba(255,255,255,.25);
  transition: transform .2s,background-color .5s;
  transform-origin: 50% 50%;
}

.dot-nav a:hover .dot{
  background-color: var(--secondaryColor);
}

.dot-nav a span {
  float: right;
  transform: scale(.6);
}

.dot-nav .dot-label {
  position: relative;
  top: 3px;
  padding: 0.4em 0.5em;
  color: #f2f2f2;
  font-size: 2em;
  opacity: 0;
  text-shadow: 1px 1px var(--black);
  font-weight: 700;
  text-transform: uppercase;
  transition: transform .2s,opacity .2s;
  transform-origin: 100% 50%;
}

.is-active .dot{
  background-color: var(--secondaryColor);
}

.not-active .dot-label{
  opacity: 0;
}

.dot-container:hover .dot-label {
  opacity: 100;
}

.dot-label {
  opacity: 100;
}

.section {
  padding: 15px;
  color: var(--primaryColor);
  margin: 100px 175px;
  border-radius: 25px;
  font-size: 1.5em;
}

.section-header {
  font-size: 1.5em
}

.sub-section-header {
  font-size: 1.5em;
  position: relative;
  display: inline-block;
}

.sub-section-header::after{
  content: '';
  height: 3px;
  width: 50%;
  background-color: var(--secondaryColor);
  position: absolute;
  left: 0;
  bottom: 25px;
}
.section:nth-child(odd) .sub-section-header::after{
  content: '';
  height: 3px;
  width: 50%;
  background-color: var(--tertiaryColor);
  position: absolute;
  left: 0;
  bottom: 25px;
}

.section-content {
  font-size: 1.75em;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      var(--secondaryColor),
      var(--tertiaryColor)
    ) 1 100%;
}

.section:nth-child(odd) .section-content {
  border-image: 
  linear-gradient(
    to bottom, 
    var(--tertiaryColor),
    var(--secondaryColor)
  ) 1 100%;
}

.section-content p {
  max-width: 75%;
}

.section-home {
  background-image: linear-gradient(
    45deg, 
    var(--secondaryColor), 
    var(--tertiaryColor));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-home span {
  display: flex;
  font-size: 2em;
  width: fit-content;
}

.section-home h1{
  text-shadow: 3px 3px 3px var(--black);
}

.section-home h2{
  align-items: center;
  text-shadow: 3px 3px 3px var(--black);
}

.section-content .about-pic {
  width: 20%;
  height: 20%;
  border-radius: 100%;
  border-image: ;
  opacity: 20%;
  transition: 1s;
}

.section-content .about-pic:hover {
  transition: 1s;
  opacity: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  max-width: 400px;
  margin: 20px 40px;
  border: 3px solid var(--secondaryColor);
  transition: 1s;
  border-radius: 10px;
}

.card-title {
  color: var(--sectionBG);
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5vw;
  margin: 0;
  padding: 15px;
  opacity: 75%;
  background-image: linear-gradient(45deg, var(--secondaryColor), var(--tertiaryColor));
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;  
}

.image-container {
  display: flex;
  opacity: 20%;
  transition: 1s;
}

.image-container:hover {
  opacity: 100%;
  transition: 1s;
}

.image-container .card-image{
  width: 400px;
  height: 350px;
  object-fit: fill;
}

.resume {
  display: flex;
  margin: auto;
}

.card-footer {
  background-image: linear-gradient(45deg, var(--secondaryColor), var(--tertiaryColor));
  width: 400px;
  height: 75px;
  display: flex;
  justify-content: center;
  opacity: 75%;
}

.card-footer img {
  filter: invert(91%) sepia(9%) saturate(157%) hue-rotate(340deg) brightness(94%) contrast(92%);
  padding: 4px 8px;
}

.card-footer img:hover {
  filter: invert(64%) sepia(14%) saturate(2048%) hue-rotate(162deg) brightness(86%) contrast(89%);
}

.contact-form {
  display: flex;
}

.contact-form div {
  padding: 10px 0
}

label {
  width: 120px;
  display: inline-block;
}

input {
  background-color: var(--primaryColor);
  outline: none;
  border: 2px solid var(--tertiaryColor);
}

input:focus {
  background-color: var(--textColor);
}

iframe {
  width: 750px;
  height: 500px;
}

textarea {
  background-color: var(--primaryColor);
  outline: none;
  border: 2px solid var(--tertiaryColor);
}

textarea:focus {
  background-color: var(--textColor);
}

button {
  margin: 0 120px;
  width: 120px;
  height: 25px;
  border: 2px solid var(--tertiaryColor);
  border-radius: 10px;
  background-color: var(--primaryColor);
  transition: .5s;
}

button:hover {
  background-color: var(--tertiaryColor);
  transition: .5s;
}

.contact-textarea {
  display: flex;
}

.contact-textarea textarea{
  width: 350px;
  height: 150px;
}

.arrow{
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.arrow img {
  filter: invert(91%) sepia(9%) saturate(157%) hue-rotate(340deg) brightness(94%) contrast(92%);
}

.arrow img:hover {
  filter: invert(64%) sepia(14%) saturate(2048%) hue-rotate(162deg) brightness(86%) contrast(89%);
}

.footer {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(45deg, var(--secondaryColor), var(--tertiaryColor));
}

.footer-content img{
  filter: invert(91%) sepia(9%) saturate(157%) hue-rotate(340deg) brightness(94%) contrast(92%);
  margin: 0 25px;
}

.footer-content img:hover {
  filter: invert(64%) sepia(14%) saturate(2048%) hue-rotate(162deg) brightness(86%) contrast(89%);
}

@media (max-width: 1200px) {
  iframe {
    width: 500px;
    height: 500px;
  }
  
}