* {
  scroll-behavior: smooth;
}

:root {
 
  --primaryColor: #DDD5D0;
  --secondaryColor: #449DD1;
  --tertiaryColor: #9E5CC1;
  --textColor: #ffffff;
  --black: #090B0C;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb{
  background-color: var(--primaryColor);
  width: 50px;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--secondaryColor);
}

@supports (scrollbar-color: var(--primaryColor)) {
  * {
    scrollbar-color: var(--primaryColor);
    scrollbar-width: auto;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  background-image: linear-gradient(to bottom right, var(--secondaryColor), var(--tertiaryColor));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--textColor);
  height: 100%;
  letter-spacing: .5px;
  overflow: overlay;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.dot-nav {
  position: fixed;
  right: 20px;
  z-index: 1;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  transition: visibility 0s,opacity .5s ease;
}

.dot-nav .dot-container {
  position: relative;
  list-style: none;
  text-align: right;
  margin: -25px 5px
}

.dot-nav a {
  display: inline-block;
}

.dot-nav .dot {
  position: relative;
  top: 23px;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background: rgba(255,255,255,.25);
  transition: transform .2s,background-color .5s;
  transform-origin: 50% 50%;
}

.dot-nav .dot:hover{
  background-color: var(--secondaryColor);
  opacity: 100;
}

.dot-nav a span {
  float: right;
  transform: scale(.6);
}

.dot-nav .dot-label {
  position: relative;
  top: 3px;
  padding: 0.4em 0.5em;
  color: #f2f2f2;
  font-size: 2em;
  text-shadow: 1px 1px var(--black);
  font-weight: 700;
  text-transform: uppercase;
  transition: transform .2s,opacity .2s;
  transform-origin: 100% 50%;
}

.not-shown {
  opacity: 0;
}

.section {
  padding: 15px;
  background-color: var(--primaryColor);
  color: var(--black);
  margin: 100px 175px;
  border-radius: 25px;
}

.section-header {
  font-size: 1.5em;
}

.section-content {
  font-size: 1.75em;
  display: flex;
}

.section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-home span {
  display: flex;
  font-size: 2em;
  width: fit-content;
}

.section-home h1{
  text-shadow: 3px 3px 3px var(--black);
}

.section-home h2{
  align-items: center;
  text-shadow: 3px 3px 3px var(--black);
}

.arrow{
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.arrow img {
  filter: invert(91%) sepia(9%) saturate(157%) hue-rotate(340deg) brightness(94%) contrast(92%);
}

.arrow img:hover {
  filter: invert(64%) sepia(14%) saturate(2048%) hue-rotate(162deg) brightness(86%) contrast(89%);
}